flow_definition/HEALTHCARE-PROVIDER-COSTS.json
{"flowContents":{"identifier":"2de84678-4fc4-3901-a423-ed00ee69e61c","instanceIdentifier":"35f3fde4-0194-1000-a0cf-ba6f986c35d8","name":"HEALTHCARE-PROVIDER-COSTS","comments":"","position":{"x":-104.0,"y":-1008.0},"processGroups":[{"identifier":"a4ddf145-39b7-3a5a-b07d-16f5dce6414e","instanceIdentifier":"01941055-1c06-1655-b424-ce88f31891d1","name":"EXTRACT","comments":"","position":{"x":808.0,"y":-1928.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"6465add4-e6a5-371c-9694-100bd34df229","instanceIdentifier":"2c523d01-239f-1e44-30fe-52040f51c829","name":"Get if there are data","comments":"","position":{"x":-1000.0,"y":-928.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"error_message":"$.results.length()","Destination":"flowfile-attribute","results_length":"$.results.length()","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"error_message":{"name":"error_message","displayName":"error_message","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"results_length":{"name":"results_length","displayName":"results_length","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a4ddf145-39b7-3a5a-b07d-16f5dce6414e"},{"identifier":"b2c32eab-0988-36c5-92cf-795f7ecf9496","instanceIdentifier":"2c523d02-239f-1e44-4624-f10c617d3c19","name":"If number of records not 0","comments":"","position":{"x":-384.0,"y":-928.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Routing Strategy":"Route to Property name","ContinueLoop":"${results_length:equals(0):not()}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ContinueLoop":{"name":"ContinueLoop","displayName":"ContinueLoop","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a4ddf145-39b7-3a5a-b07d-16f5dce6414e"},{"identifier":"14339c80-6bbd-3664-b792-ebcd0605feca","instanceIdentifier":"2c523d04-239f-1e44-2e08-663afe1cb6ec","name":"Increase offset","comments":"","position":{"x":-376.0,"y":-1144.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"currentIndex":"${currentIndex:plus(${increaseIndex})}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"currentIndex":{"name":"currentIndex","displayName":"currentIndex","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a4ddf145-39b7-3a5a-b07d-16f5dce6414e"},{"identifier":"68bdda78-146d-3370-a1a3-fd68e49ed321","instanceIdentifier":"2c523cff-239f-1e44-5aac-b2d626715f50","name":"SplitJson","comments":"","position":{"x":-1008.0,"y":-1568.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#ffff80"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a4ddf145-39b7-3a5a-b07d-16f5dce6414e"},{"identifier":"d01335bd-584f-30a0-ac75-6535b5f966d7","instanceIdentifier":"2c523d03-239f-1e44-a5e9-2384f5e7f11e","name":"EvaluateJsonPath","comments":"","position":{"x":-1008.0,"y":-1352.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","id_specialty":"$.id_specialty","Return Type":"auto-detect","api_query":"$.api_query","name":"$.name","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"id_specialty":{"name":"id_specialty","displayName":"id_specialty","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"api_query":{"name":"api_query","displayName":"api_query","identifiesControllerService":false,"sensitive":false,"dynamic":true},"name":{"name":"name","displayName":"name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a4ddf145-39b7-3a5a-b07d-16f5dce6414e"},{"identifier":"3724e1ee-7cad-3031-8d07-f7b24e41c18b","instanceIdentifier":"2c523d00-239f-1e44-fd75-cf3894400ef0","name":"InvokeHTTP","comments":"","position":{"x":-1008.0,"y":-1144.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://data.cms.gov/provider-data/api/1/datastore/query/${api_query}/0?${limit}&offset=${currentIndex}&count=false&results=true&schema=false&keys=true&format=json&rowIds=false","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#0080ff"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a4ddf145-39b7-3a5a-b07d-16f5dce6414e"}],"inputPorts":[{"identifier":"cfadc80e-40b7-3fd1-a0d7-40df97973b26","instanceIdentifier":"2c523cfd-239f-1e44-cf9c-023cf7ab2221","name":"input","position":{"x":-944.0,"y":-1672.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"a4ddf145-39b7-3a5a-b07d-16f5dce6414e"}],"outputPorts":[{"identifier":"9de29cc8-8abd-3b93-bcd2-8f2ee9c879a0","instanceIdentifier":"2c523cfe-239f-1e44-88fb-b06f1b3aead6","name":"output","position":{"x":-328.0,"y":-664.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"a4ddf145-39b7-3a5a-b07d-16f5dce6414e"}],"connections":[{"identifier":"c8489cf8-2dad-364c-a2f8-447a6980e60d","instanceIdentifier":"2c523d06-239f-1e44-7d4c-fabbcfbb5ccd","name":"","source":{"id":"b2c32eab-0988-36c5-92cf-795f7ecf9496","type":"PROCESSOR","groupId":"a4ddf145-39b7-3a5a-b07d-16f5dce6414e","name":"If number of records not 0","comments":"","instanceIdentifier":"2c523d02-239f-1e44-4624-f10c617d3c19"},"destination":{"id":"9de29cc8-8abd-3b93-bcd2-8f2ee9c879a0","type":"OUTPUT_PORT","groupId":"a4ddf145-39b7-3a5a-b07d-16f5dce6414e","name":"output","instanceIdentifier":"2c523cfe-239f-1e44-88fb-b06f1b3aead6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["ContinueLoop"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a4ddf145-39b7-3a5a-b07d-16f5dce6414e"},{"identifier":"10a4db24-eb21-3c5d-aeb5-d231dd41741e","instanceIdentifier":"2c523d07-239f-1e44-74e8-052989aba873","name":"","source":{"id":"3724e1ee-7cad-3031-8d07-f7b24e41c18b","type":"PROCESSOR","groupId":"a4ddf145-39b7-3a5a-b07d-16f5dce6414e","name":"InvokeHTTP","comments":"","instanceIdentifier":"2c523d00-239f-1e44-fd75-cf3894400ef0"},"destination":{"id":"6465add4-e6a5-371c-9694-100bd34df229","type":"PROCESSOR","groupId":"a4ddf145-39b7-3a5a-b07d-16f5dce6414e","name":"Get if there are data","comments":"","instanceIdentifier":"2c523d01-239f-1e44-30fe-52040f51c829"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a4ddf145-39b7-3a5a-b07d-16f5dce6414e"},{"identifier":"0b3f9929-db04-3149-955b-8eebfcba30d5","instanceIdentifier":"dfd13d06-d730-1ae4-8fd2-487fca81d56d","name":"","source":{"id":"6465add4-e6a5-371c-9694-100bd34df229","type":"PROCESSOR","groupId":"a4ddf145-39b7-3a5a-b07d-16f5dce6414e","name":"Get if there are data","comments":"","instanceIdentifier":"2c523d01-239f-1e44-30fe-52040f51c829"},"destination":{"id":"b2c32eab-0988-36c5-92cf-795f7ecf9496","type":"PROCESSOR","groupId":"a4ddf145-39b7-3a5a-b07d-16f5dce6414e","name":"If number of records not 0","comments":"","instanceIdentifier":"2c523d02-239f-1e44-4624-f10c617d3c19"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","matched","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a4ddf145-39b7-3a5a-b07d-16f5dce6414e"},{"identifier":"c50a8830-e92b-35a1-b2e4-4065e29ad0fa","instanceIdentifier":"dfd13d09-d730-1ae4-841a-410ca80331ed","name":"","source":{"id":"d01335bd-584f-30a0-ac75-6535b5f966d7","type":"PROCESSOR","groupId":"a4ddf145-39b7-3a5a-b07d-16f5dce6414e","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"2c523d03-239f-1e44-a5e9-2384f5e7f11e"},"destination":{"id":"3724e1ee-7cad-3031-8d07-f7b24e41c18b","type":"PROCESSOR","groupId":"a4ddf145-39b7-3a5a-b07d-16f5dce6414e","name":"InvokeHTTP","comments":"","instanceIdentifier":"2c523d00-239f-1e44-fd75-cf3894400ef0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a4ddf145-39b7-3a5a-b07d-16f5dce6414e"},{"identifier":"8206a0ab-3f4b-3350-af5b-a2063f996a09","instanceIdentifier":"dfd13d0a-d730-1ae4-ba22-d3a2fd4ce14a","name":"","source":{"id":"14339c80-6bbd-3664-b792-ebcd0605feca","type":"PROCESSOR","groupId":"a4ddf145-39b7-3a5a-b07d-16f5dce6414e","name":"Increase offset","comments":"","instanceIdentifier":"2c523d04-239f-1e44-2e08-663afe1cb6ec"},"destination":{"id":"3724e1ee-7cad-3031-8d07-f7b24e41c18b","type":"PROCESSOR","groupId":"a4ddf145-39b7-3a5a-b07d-16f5dce6414e","name":"InvokeHTTP","comments":"","instanceIdentifier":"2c523d00-239f-1e44-fd75-cf3894400ef0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a4ddf145-39b7-3a5a-b07d-16f5dce6414e"},{"identifier":"ad42cd1c-db29-3913-86a2-48d8bbcb19dd","instanceIdentifier":"dfd13d07-d730-1ae4-34b6-d6d671632654","name":"","source":{"id":"68bdda78-146d-3370-a1a3-fd68e49ed321","type":"PROCESSOR","groupId":"a4ddf145-39b7-3a5a-b07d-16f5dce6414e","name":"SplitJson","comments":"","instanceIdentifier":"2c523cff-239f-1e44-5aac-b2d626715f50"},"destination":{"id":"d01335bd-584f-30a0-ac75-6535b5f966d7","type":"PROCESSOR","groupId":"a4ddf145-39b7-3a5a-b07d-16f5dce6414e","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"2c523d03-239f-1e44-a5e9-2384f5e7f11e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a4ddf145-39b7-3a5a-b07d-16f5dce6414e"},{"identifier":"59752066-36ad-3d04-a69c-445795808c95","instanceIdentifier":"dfd13d08-d730-1ae4-f049-2cb4e04f5d81","name":"","source":{"id":"cfadc80e-40b7-3fd1-a0d7-40df97973b26","type":"INPUT_PORT","groupId":"a4ddf145-39b7-3a5a-b07d-16f5dce6414e","name":"input","instanceIdentifier":"2c523cfd-239f-1e44-cf9c-023cf7ab2221"},"destination":{"id":"68bdda78-146d-3370-a1a3-fd68e49ed321","type":"PROCESSOR","groupId":"a4ddf145-39b7-3a5a-b07d-16f5dce6414e","name":"SplitJson","comments":"","instanceIdentifier":"2c523cff-239f-1e44-5aac-b2d626715f50"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a4ddf145-39b7-3a5a-b07d-16f5dce6414e"},{"identifier":"cefa0d29-724e-341b-bb25-366ef8ec1dae","instanceIdentifier":"2c523d05-239f-1e44-62a2-950fdba49bba","name":"","source":{"id":"b2c32eab-0988-36c5-92cf-795f7ecf9496","type":"PROCESSOR","groupId":"a4ddf145-39b7-3a5a-b07d-16f5dce6414e","name":"If number of records not 0","comments":"","instanceIdentifier":"2c523d02-239f-1e44-4624-f10c617d3c19"},"destination":{"id":"14339c80-6bbd-3664-b792-ebcd0605feca","type":"PROCESSOR","groupId":"a4ddf145-39b7-3a5a-b07d-16f5dce6414e","name":"Increase offset","comments":"","instanceIdentifier":"2c523d04-239f-1e44-2e08-663afe1cb6ec"},"labelIndex":1,"zIndex":0,"selectedRelationships":["ContinueLoop"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a4ddf145-39b7-3a5a-b07d-16f5dce6414e"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"HEALTHCARE_PROVIDER_COSTS","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"a55aaaef-2d9e-3932-b78f-4a9c75779a17","instanceIdentifier":"01941043-1c06-1655-1735-9e53fc4f5e18","name":"ZIP - COSTS","comments":"","position":{"x":808.0,"y":-2240.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"f1968ad3-788f-3929-aed8-a7a8b27c4d1a","instanceIdentifier":"01941046-1c06-1655-b5c7-4f4cbfc907be","name":"Convert from CSV to JSON","comments":"","position":{"x":-1304.2534150340493,"y":-2113.1200746122086},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"58f85c13-11a0-322b-bc06-5f6f66c85576","Record Reader":"3f6deaaf-4a35-31a3-b8d2-fad6cd158de8"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#ffff80"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a55aaaef-2d9e-3932-b78f-4a9c75779a17"},{"identifier":"c158c6ba-084f-36fb-8c5a-4998cfeec976","instanceIdentifier":"01941047-1c06-1655-8ca2-d11967fb9346","name":"QueryRecord","comments":"","position":{"x":-1304.2534150340493,"y":-2993.1200746122086},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"dbf-default-precision":"10","record-writer":"887fc47b-8825-3fe0-9beb-bd8280b543bd","query":"SELECT zipcode FROM FLOWFILE","record-reader":"a34affed-2548-3851-8cd2-69388e98d7dc","include-zero-record-flowfiles":"true","dbf-default-scale":"0"},"propertyDescriptors":{"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"query":{"name":"query","displayName":"query","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#0080ff"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a55aaaef-2d9e-3932-b78f-4a9c75779a17"},{"identifier":"93ac4e0c-96a2-3367-995d-6f92717897fa","instanceIdentifier":"01941049-1c06-1655-30e2-8f241ea9fb38","name":"UpdateAttribute","comments":"","position":{"x":-1304.2534150340493,"y":-2785.1200746122086},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0"},"properties":{"Delete Attributes Expression":null,"filename":"#{unique_zipcodes}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#0080ff"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a55aaaef-2d9e-3932-b78f-4a9c75779a17"},{"identifier":"efda41f9-4743-3e44-afcc-7cc76412bbec","instanceIdentifier":"01941048-1c06-1655-1838-b31606271545","name":"PutFile","comments":"","position":{"x":-1304.2534150340493,"y":-2569.1200746122086},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"#{output_directory}","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#80ff80"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a55aaaef-2d9e-3932-b78f-4a9c75779a17"},{"identifier":"31165c02-cd4f-312d-944f-31c17ca37725","instanceIdentifier":"01941045-1c06-1655-77d3-da85614112e8","name":"Extract Specialties","comments":"","position":{"x":-1304.2534150340493,"y":-2353.1200746122086},"type":"org.apache.nifi.processors.standard.FetchFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Move Conflict Strategy":"Rename","Log level when file not found":"ERROR","Move Destination Directory":null,"Log level when permission denied":"ERROR","File to Fetch":"${pathDatasets}/${fileSpecialties}","Completion Strategy":"None"},"propertyDescriptors":{"Move Conflict Strategy":{"name":"Move Conflict Strategy","displayName":"Move Conflict Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log level when file not found":{"name":"Log level when file not found","displayName":"Log level when file not found","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log level when permission denied":{"name":"Log level when permission denied","displayName":"Log level when permission denied","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File to Fetch":{"name":"File to Fetch","displayName":"File to Fetch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#0080ff"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","permission.denied","not.found"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a55aaaef-2d9e-3932-b78f-4a9c75779a17"}],"inputPorts":[{"identifier":"d4fd7802-8994-3eff-a70a-2295d9ca65f9","instanceIdentifier":"0194104e-1c06-1655-c2ec-42230f715b61","name":"from Load zipcodes","position":{"x":-1248.0,"y":-3104.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"a55aaaef-2d9e-3932-b78f-4a9c75779a17"}],"outputPorts":[{"identifier":"d94a409e-6ef9-3828-bb8f-87fbd81b1736","instanceIdentifier":"01941050-1c06-1655-6ad4-f69b8976d559","name":"output","position":{"x":-1240.0,"y":-1912.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"a55aaaef-2d9e-3932-b78f-4a9c75779a17"}],"connections":[{"identifier":"76d941c7-dbf4-3125-8204-6b4dda489cb9","instanceIdentifier":"0194104c-1c06-1655-d3c2-fc6b008090d4","name":"","source":{"id":"c158c6ba-084f-36fb-8c5a-4998cfeec976","type":"PROCESSOR","groupId":"a55aaaef-2d9e-3932-b78f-4a9c75779a17","name":"QueryRecord","comments":"","instanceIdentifier":"01941047-1c06-1655-8ca2-d11967fb9346"},"destination":{"id":"93ac4e0c-96a2-3367-995d-6f92717897fa","type":"PROCESSOR","groupId":"a55aaaef-2d9e-3932-b78f-4a9c75779a17","name":"UpdateAttribute","comments":"","instanceIdentifier":"01941049-1c06-1655-30e2-8f241ea9fb38"},"labelIndex":1,"zIndex":0,"selectedRelationships":["query"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a55aaaef-2d9e-3932-b78f-4a9c75779a17"},{"identifier":"d8ae4f64-937a-3bf4-bafc-49eef0cd17f2","instanceIdentifier":"0194104d-1c06-1655-8c05-a951a8e71d07","name":"","source":{"id":"93ac4e0c-96a2-3367-995d-6f92717897fa","type":"PROCESSOR","groupId":"a55aaaef-2d9e-3932-b78f-4a9c75779a17","name":"UpdateAttribute","comments":"","instanceIdentifier":"01941049-1c06-1655-30e2-8f241ea9fb38"},"destination":{"id":"efda41f9-4743-3e44-afcc-7cc76412bbec","type":"PROCESSOR","groupId":"a55aaaef-2d9e-3932-b78f-4a9c75779a17","name":"PutFile","comments":"","instanceIdentifier":"01941048-1c06-1655-1838-b31606271545"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a55aaaef-2d9e-3932-b78f-4a9c75779a17"},{"identifier":"3d3be0d1-1605-3ed4-8e17-b06382f77ebf","instanceIdentifier":"01941051-1c06-1655-495b-a781e64b1ee4","name":"","source":{"id":"f1968ad3-788f-3929-aed8-a7a8b27c4d1a","type":"PROCESSOR","groupId":"a55aaaef-2d9e-3932-b78f-4a9c75779a17","name":"Convert from CSV to JSON","comments":"","instanceIdentifier":"01941046-1c06-1655-b5c7-4f4cbfc907be"},"destination":{"id":"d94a409e-6ef9-3828-bb8f-87fbd81b1736","type":"OUTPUT_PORT","groupId":"a55aaaef-2d9e-3932-b78f-4a9c75779a17","name":"output","instanceIdentifier":"01941050-1c06-1655-6ad4-f69b8976d559"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a55aaaef-2d9e-3932-b78f-4a9c75779a17"},{"identifier":"252ac446-b3d9-3a0f-84be-ebc0304c1d94","instanceIdentifier":"0194104f-1c06-1655-24fa-9a6f4c10c3ca","name":"","source":{"id":"d4fd7802-8994-3eff-a70a-2295d9ca65f9","type":"INPUT_PORT","groupId":"a55aaaef-2d9e-3932-b78f-4a9c75779a17","name":"from Load zipcodes","instanceIdentifier":"0194104e-1c06-1655-c2ec-42230f715b61"},"destination":{"id":"c158c6ba-084f-36fb-8c5a-4998cfeec976","type":"PROCESSOR","groupId":"a55aaaef-2d9e-3932-b78f-4a9c75779a17","name":"QueryRecord","comments":"","instanceIdentifier":"01941047-1c06-1655-8ca2-d11967fb9346"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a55aaaef-2d9e-3932-b78f-4a9c75779a17"},{"identifier":"badbe94a-343c-3a20-a218-14b1e500a08a","instanceIdentifier":"0194104a-1c06-1655-11e0-e0a8b9bd71b0","name":"","source":{"id":"efda41f9-4743-3e44-afcc-7cc76412bbec","type":"PROCESSOR","groupId":"a55aaaef-2d9e-3932-b78f-4a9c75779a17","name":"PutFile","comments":"","instanceIdentifier":"01941048-1c06-1655-1838-b31606271545"},"destination":{"id":"31165c02-cd4f-312d-944f-31c17ca37725","type":"PROCESSOR","groupId":"a55aaaef-2d9e-3932-b78f-4a9c75779a17","name":"Extract Specialties","comments":"","instanceIdentifier":"01941045-1c06-1655-77d3-da85614112e8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a55aaaef-2d9e-3932-b78f-4a9c75779a17"},{"identifier":"03f1f751-401f-3d3e-b648-ca799a79aa1d","instanceIdentifier":"0194104b-1c06-1655-7212-d8d6c2eff843","name":"","source":{"id":"31165c02-cd4f-312d-944f-31c17ca37725","type":"PROCESSOR","groupId":"a55aaaef-2d9e-3932-b78f-4a9c75779a17","name":"Extract Specialties","comments":"","instanceIdentifier":"01941045-1c06-1655-77d3-da85614112e8"},"destination":{"id":"f1968ad3-788f-3929-aed8-a7a8b27c4d1a","type":"PROCESSOR","groupId":"a55aaaef-2d9e-3932-b78f-4a9c75779a17","name":"Convert from CSV to JSON","comments":"","instanceIdentifier":"01941046-1c06-1655-b5c7-4f4cbfc907be"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a55aaaef-2d9e-3932-b78f-4a9c75779a17"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"HEALTHCARE_PROVIDER_COSTS","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"4b788d1f-f3d5-3179-aac3-9e44b4b850e0","instanceIdentifier":"dfd13d0d-d730-1ae4-8609-71bf1c1ade12","name":"TRANSFORM","comments":"","position":{"x":808.0,"y":-1624.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"1039fa8e-313e-3b64-9e43-62b690b0b91f","instanceIdentifier":"dfd13d10-d730-1ae4-9240-77d912ded23a","name":"JoltTransformJSON","comments":"","position":{"x":-1592.0,"y":-1128.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.0.0"},"properties":{"Jolt Transform":"jolt-transform-chain","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"default\",\n    \"spec\": {\n      \"id_speciality\": \"${id_specialty}\"\n    }\n  }\n]\n"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}}},"style":{"background-color":"#ffff80"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4b788d1f-f3d5-3179-aac3-9e44b4b850e0"},{"identifier":"24036f8f-b7d1-37bf-acde-95348424e0d0","instanceIdentifier":"dfd13d11-d730-1ae4-871d-a1732fcc281a","name":"Split in multiple FlowFiles","comments":"","position":{"x":-1592.0,"y":-1360.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.results[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#ffff80"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4b788d1f-f3d5-3179-aac3-9e44b4b850e0"},{"identifier":"6ab552fc-76c5-35ce-ab25-978a6cc1aa86","instanceIdentifier":"dfd13d12-d730-1ae4-3a50-b979dd72ea95","name":"Rename Atributes","comments":"","position":{"x":-1592.0,"y":-896.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.0.0"},"properties":{"Jolt Transform":"jolt-transform-chain","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"shift\", \n    \"spec\": {\n      \"zip_code\" : \"zipcode\",\n      \"id_speciality\" : \"specialty_id\",\n      \"min_medicare_pricing_for_new_patient\": \"min_pric_new_pt\",\n      \"max_medicare_pricing_for_new_patient\" : \"max_pric_new_pt\",\n  \t  \"mode_medicare_pricing_for_new_patient\" : \"mode_pric_new_pt\",\n      \"min_copay_for_new_patient\" : \"min_copay_new_pt\",\n  \t  \"max_copay_for_new_patient\" : \"max_copay_new_pt\",\n      \"mode_copay_for_new_patient\" : \"mode_copay_new_pt\",\n      \"most_utilized_procedure_code_for_new_patient\" : \"most_util_proc_new_pt\",\n      \"min_medicare_pricing_for_established_patient\" : \"min_pric_est_pt\",\n      \"max_medicare_pricing_for_established_patient\" : \"max_pric_est_pt\",\n      \"mode_medicare_pricing_for_established_patient\" : \"mode_pric_est_pt\",\n      \"min_copay_for_established_patient\" : \"min_copay_est_pt\",\n      \"max_copay_for_established_patient\" : \"max_copay_est_pt\",\n      \"mode_copay_for_established_patient\" : \"mode_copay_est_pt\",\n      \"most_utilized_procedure_code_for_established_patient\" : \"most_util_proc_est_pt\"\n    }\n  }\n]"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}}},"style":{"background-color":"#ffff80"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4b788d1f-f3d5-3179-aac3-9e44b4b850e0"},{"identifier":"3d6ce2e9-cc8e-3dfd-be86-6e0237edac37","instanceIdentifier":"dfd13d1a-d730-1ae4-919d-c42389d972f8","name":"LookupRecord","comments":"","position":{"x":-944.0,"y":-896.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-matched-unmatched","Root Record Path":null,"record-path-lookup-miss-result-cache-size":"0","result-record-path":null,"record-writer":"58f85c13-11a0-322b-bc06-5f6f66c85576","record-reader":"a34affed-2548-3851-8cd2-69388e98d7dc","lookup-service":"9e7da8a0-aa2f-3959-8c50-1b7ed1f0778f","record-update-strategy":"use-property","key":"/zipcode"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"1 mins","componentType":"PROCESSOR","groupIdentifier":"4b788d1f-f3d5-3179-aac3-9e44b4b850e0"},{"identifier":"eaa57483-3ede-3ec8-9e49-707ce4bf301b","instanceIdentifier":"dfd13d19-d730-1ae4-699e-2d54fcfa8256","name":"MergeContent","comments":"","position":{"x":-944.0,"y":-680.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","Compression Level":"1","Maximum Number of Entries":"40000","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Do Not Use Delimiters","Merge Format":"Binary Concatenation","Footer File":null,"Max Bin Age":null,"Demarcator File":null,"Correlation Attribute Name":null,"Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"1"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#ffff80"},"schedulingPeriod":"5 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4b788d1f-f3d5-3179-aac3-9e44b4b850e0"}],"inputPorts":[{"identifier":"288e2ec5-ac5b-352b-82ed-109e93e24baa","instanceIdentifier":"dfd13d0e-d730-1ae4-f675-26ed3764ea5f","name":"input","position":{"x":-1536.0,"y":-1464.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"4b788d1f-f3d5-3179-aac3-9e44b4b850e0"}],"outputPorts":[{"identifier":"ea5f5cee-0b50-3c4f-94e4-37fffc2b29ee","instanceIdentifier":"dfd13d0f-d730-1ae4-1ac9-f7e023d8e61c","name":"output","position":{"x":-888.0,"y":-448.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"4b788d1f-f3d5-3179-aac3-9e44b4b850e0"}],"connections":[{"identifier":"1a93ee42-cd55-30d3-b6b7-b538a6fde592","instanceIdentifier":"dfd13d13-d730-1ae4-fc34-9d551544abaa","name":"","source":{"id":"6ab552fc-76c5-35ce-ab25-978a6cc1aa86","type":"PROCESSOR","groupId":"4b788d1f-f3d5-3179-aac3-9e44b4b850e0","name":"Rename Atributes","comments":"","instanceIdentifier":"dfd13d12-d730-1ae4-3a50-b979dd72ea95"},"destination":{"id":"3d6ce2e9-cc8e-3dfd-be86-6e0237edac37","type":"PROCESSOR","groupId":"4b788d1f-f3d5-3179-aac3-9e44b4b850e0","name":"LookupRecord","comments":"","instanceIdentifier":"dfd13d1a-d730-1ae4-919d-c42389d972f8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4b788d1f-f3d5-3179-aac3-9e44b4b850e0"},{"identifier":"5d9b1572-0797-34aa-8628-f03e69c8559d","instanceIdentifier":"dfd13d1b-d730-1ae4-8dd9-70d933075c8c","name":"","source":{"id":"3d6ce2e9-cc8e-3dfd-be86-6e0237edac37","type":"PROCESSOR","groupId":"4b788d1f-f3d5-3179-aac3-9e44b4b850e0","name":"LookupRecord","comments":"","instanceIdentifier":"dfd13d1a-d730-1ae4-919d-c42389d972f8"},"destination":{"id":"eaa57483-3ede-3ec8-9e49-707ce4bf301b","type":"PROCESSOR","groupId":"4b788d1f-f3d5-3179-aac3-9e44b4b850e0","name":"MergeContent","comments":"","instanceIdentifier":"dfd13d19-d730-1ae4-699e-2d54fcfa8256"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4b788d1f-f3d5-3179-aac3-9e44b4b850e0"},{"identifier":"8a29df44-ab8a-3cfa-96a0-7ada80bf6741","instanceIdentifier":"dfd13d1c-d730-1ae4-5beb-62c25f4abfb0","name":"","source":{"id":"eaa57483-3ede-3ec8-9e49-707ce4bf301b","type":"PROCESSOR","groupId":"4b788d1f-f3d5-3179-aac3-9e44b4b850e0","name":"MergeContent","comments":"","instanceIdentifier":"dfd13d19-d730-1ae4-699e-2d54fcfa8256"},"destination":{"id":"ea5f5cee-0b50-3c4f-94e4-37fffc2b29ee","type":"OUTPUT_PORT","groupId":"4b788d1f-f3d5-3179-aac3-9e44b4b850e0","name":"output","instanceIdentifier":"dfd13d0f-d730-1ae4-1ac9-f7e023d8e61c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4b788d1f-f3d5-3179-aac3-9e44b4b850e0"},{"identifier":"8dca6578-d219-3fc3-aa4a-8064aa99fbf4","instanceIdentifier":"dfd13d16-d730-1ae4-51bd-066e75d5ad22","name":"","source":{"id":"288e2ec5-ac5b-352b-82ed-109e93e24baa","type":"INPUT_PORT","groupId":"4b788d1f-f3d5-3179-aac3-9e44b4b850e0","name":"input","instanceIdentifier":"dfd13d0e-d730-1ae4-f675-26ed3764ea5f"},"destination":{"id":"24036f8f-b7d1-37bf-acde-95348424e0d0","type":"PROCESSOR","groupId":"4b788d1f-f3d5-3179-aac3-9e44b4b850e0","name":"Split in multiple FlowFiles","comments":"","instanceIdentifier":"dfd13d11-d730-1ae4-871d-a1732fcc281a"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4b788d1f-f3d5-3179-aac3-9e44b4b850e0"},{"identifier":"4c3e0b2c-5807-3b90-8dc8-f3b3c6a70a7c","instanceIdentifier":"dfd13d14-d730-1ae4-efe4-a1c41e55c072","name":"","source":{"id":"24036f8f-b7d1-37bf-acde-95348424e0d0","type":"PROCESSOR","groupId":"4b788d1f-f3d5-3179-aac3-9e44b4b850e0","name":"Split in multiple FlowFiles","comments":"","instanceIdentifier":"dfd13d11-d730-1ae4-871d-a1732fcc281a"},"destination":{"id":"1039fa8e-313e-3b64-9e43-62b690b0b91f","type":"PROCESSOR","groupId":"4b788d1f-f3d5-3179-aac3-9e44b4b850e0","name":"JoltTransformJSON","comments":"","instanceIdentifier":"dfd13d10-d730-1ae4-9240-77d912ded23a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4b788d1f-f3d5-3179-aac3-9e44b4b850e0"},{"identifier":"00452119-6faf-3aaa-8f5a-399544eb05ae","instanceIdentifier":"dfd13d15-d730-1ae4-51f3-7c77105b4ffa","name":"","source":{"id":"1039fa8e-313e-3b64-9e43-62b690b0b91f","type":"PROCESSOR","groupId":"4b788d1f-f3d5-3179-aac3-9e44b4b850e0","name":"JoltTransformJSON","comments":"","instanceIdentifier":"dfd13d10-d730-1ae4-9240-77d912ded23a"},"destination":{"id":"6ab552fc-76c5-35ce-ab25-978a6cc1aa86","type":"PROCESSOR","groupId":"4b788d1f-f3d5-3179-aac3-9e44b4b850e0","name":"Rename Atributes","comments":"","instanceIdentifier":"dfd13d12-d730-1ae4-3a50-b979dd72ea95"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4b788d1f-f3d5-3179-aac3-9e44b4b850e0"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"HEALTHCARE_PROVIDER_COSTS","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"}],"remoteProcessGroups":[],"processors":[{"identifier":"a845abca-1d61-38e7-b970-a3724c553e55","instanceIdentifier":"3733a60d-0194-1000-a339-4b1dd8ff3c9d","name":"Convert from CSV to JSON","comments":"","position":{"x":-352.0,"y":-2040.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"58f85c13-11a0-322b-bc06-5f6f66c85576","Record Reader":"3f6deaaf-4a35-31a3-b8d2-fad6cd158de8"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#ffff80"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"1a3b83b3-6be7-3d39-b91a-17028526f023","instanceIdentifier":"01941000-d8b0-15d6-83d9-f94cca6fbce0","name":"Eliminate duplicates","comments":"","position":{"x":136.0,"y":-1608.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"dbf-default-precision":"10","record-writer":"58f85c13-11a0-322b-bc06-5f6f66c85576","query":"SELECT\n  a.zipcode,\n  a.name,\n  a.city,\n  a.state,\n  a.area_name\nFROM\n  FLOWFILE a\nINNER JOIN (\n  SELECT\n    zipcode,\n    MIN(row_index) AS min_index\n  FROM\n    FLOWFILE\n  GROUP BY\n    zipcode\n) b\nON\n  a.zipcode = b.zipcode\n  AND a.row_index = b.min_index\nORDER BY a.zipcode","record-reader":"a34affed-2548-3851-8cd2-69388e98d7dc","include-zero-record-flowfiles":"true","dbf-default-scale":"0"},"propertyDescriptors":{"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"query":{"name":"query","displayName":"query","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#ffff80"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"30176686-d5d2-31af-bbcb-23b68b60e1e1","instanceIdentifier":"01941008-d8b0-15d6-7bf7-825b45230720","name":"Rename Columns","comments":"","position":{"x":-840.0,"y":-1824.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"dbf-default-precision":"10","record-writer":"58f85c13-11a0-322b-bc06-5f6f66c85576","query":"SELECT \"CPT Code\" AS cpt_id, \n\t   \"Level of Severity\" AS severity, \n\t   \"Time Spent\" AS time_spent\nFROM FLOWFILE","record-reader":"a34affed-2548-3851-8cd2-69388e98d7dc","include-zero-record-flowfiles":"true","dbf-default-scale":"0"},"propertyDescriptors":{"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"query":{"name":"query","displayName":"query","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#ffff80"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"33215b8d-f994-391c-8237-240ed1c4fbd6","instanceIdentifier":"b9783534-5691-1278-55c0-b9cce93a451c","name":"Convert from Excel to JSON","comments":"Convert excel format to JSON format","position":{"x":136.0,"y":-2040.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"58f85c13-11a0-322b-bc06-5f6f66c85576","Record Reader":"18223c90-a73a-38a7-bfbc-7f19235eb0e1"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#ffff80"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"f259fc86-9d27-342e-bd4c-6e946fc6df96","instanceIdentifier":"b978351b-5691-1278-3cc9-79cac4156e30","name":"Extract Procedure","comments":"","position":{"x":-840.0,"y":-2240.0},"type":"org.apache.nifi.processors.standard.FetchFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Move Conflict Strategy":"Rename","Log level when file not found":"ERROR","Move Destination Directory":null,"Log level when permission denied":"ERROR","File to Fetch":"${pathDatasets}/${fileProcedure}","Completion Strategy":"None"},"propertyDescriptors":{"Move Conflict Strategy":{"name":"Move Conflict Strategy","displayName":"Move Conflict Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log level when file not found":{"name":"Log level when file not found","displayName":"Log level when file not found","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log level when permission denied":{"name":"Log level when permission denied","displayName":"Log level when permission denied","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File to Fetch":{"name":"File to Fetch","displayName":"File to Fetch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#0080ff"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","permission.denied","not.found"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"5ee14491-5396-3733-a738-3d4c36cbf804","instanceIdentifier":"01941000-d8b0-15d6-1486-86dfb0e5238e","name":"Rename Columns","comments":"","position":{"x":-352.0,"y":-1824.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"dbf-default-precision":"10","record-writer":"58f85c13-11a0-322b-bc06-5f6f66c85576","query":"SELECT id_specialty as specialty_id, name\nFROM FLOWFILE","record-reader":"a34affed-2548-3851-8cd2-69388e98d7dc","include-zero-record-flowfiles":"true","dbf-default-scale":"0"},"propertyDescriptors":{"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"query":{"name":"query","displayName":"query","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#ffff80"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"df473c61-ac0c-3a0f-9ac5-c12b0b21d98d","instanceIdentifier":"b978352d-5691-1278-8cc2-e732ddf3b44d","name":"Extract ZipCode","comments":"","position":{"x":136.0,"y":-2240.0},"type":"org.apache.nifi.processors.standard.FetchFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Move Conflict Strategy":"Rename","Log level when file not found":"ERROR","Move Destination Directory":null,"Log level when permission denied":"ERROR","File to Fetch":"${pathDatasets}/${fileZipCode}","Completion Strategy":"None"},"propertyDescriptors":{"Move Conflict Strategy":{"name":"Move Conflict Strategy","displayName":"Move Conflict Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log level when file not found":{"name":"Log level when file not found","displayName":"Log level when file not found","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log level when permission denied":{"name":"Log level when permission denied","displayName":"Log level when permission denied","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File to Fetch":{"name":"File to Fetch","displayName":"File to Fetch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#0080ff"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","permission.denied","not.found"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"50a2530d-2c21-3f85-aa17-0bc58881d19c","instanceIdentifier":"b978351e-5691-1278-9a4f-9a648705ef27","name":"Convert from CSV to JSON","comments":"","position":{"x":-840.0,"y":-2040.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"58f85c13-11a0-322b-bc06-5f6f66c85576","Record Reader":"3f6deaaf-4a35-31a3-b8d2-fad6cd158de8"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#ffff80"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"1b99890b-86e8-3b29-8f3c-c1dd6982cfaf","instanceIdentifier":"9a339981-e4c3-3a8f-2d25-44a03b22bf1a","name":"Initialize Flow","comments":"This NiFi processor initiates the entire process to retrieve information from various APIs. It sets up the parameters that will be used in other process groups. \n\n*** currentIndex:  This index helps in retrieving data from APIs that contain too many records to fetch in a single request. Initially, the index is set to 0, and subsequent processors increment this index to retrieve the next batch of records.\n*** increaseIndex:  The increment to find the next 1000 records from the API will be 1000.\n*** limit:  This number specifies the amount of records that the API's GET request will retrieve. \n","position":{"x":-352.0,"y":-2544.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"character-set":"UTF-8","mime-type":null,"fileProcedure":"procedure_terminology.csv","currentIndex":"0","fileZipCode":"ZIP_Locale_Detail.xlsx","File Size":"0B","generate-ff-custom-text":null,"processCost":"1","Batch Size":"1","Unique FlowFiles":"false","increaseIndex":"2000","limit":"limit=2000","fileSpecialties":"specialties.csv","Data Format":"Text","pathDatasets":"/opt/nifi/nifi-current/datasets"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"fileProcedure":{"name":"fileProcedure","displayName":"fileProcedure","identifiesControllerService":false,"sensitive":false,"dynamic":true},"currentIndex":{"name":"currentIndex","displayName":"currentIndex","identifiesControllerService":false,"sensitive":false,"dynamic":true},"fileZipCode":{"name":"fileZipCode","displayName":"fileZipCode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"processCost":{"name":"processCost","displayName":"processCost","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"increaseIndex":{"name":"increaseIndex","displayName":"increaseIndex","identifiesControllerService":false,"sensitive":false,"dynamic":true},"limit":{"name":"limit","displayName":"limit","identifiesControllerService":false,"sensitive":false,"dynamic":true},"fileSpecialties":{"name":"fileSpecialties","displayName":"fileSpecialties","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"pathDatasets":{"name":"pathDatasets","displayName":"pathDatasets","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"90 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"cd63352a-e939-38f0-81bf-1aabac29155e","instanceIdentifier":"3728d319-0194-1000-5029-83751ba32e49","name":"Extract Specialties","comments":"","position":{"x":-352.0,"y":-2240.0},"type":"org.apache.nifi.processors.standard.FetchFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Move Conflict Strategy":"Rename","Log level when file not found":"ERROR","Move Destination Directory":null,"Log level when permission denied":"ERROR","File to Fetch":"${pathDatasets}/${fileSpecialties}","Completion Strategy":"None"},"propertyDescriptors":{"Move Conflict Strategy":{"name":"Move Conflict Strategy","displayName":"Move Conflict Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log level when file not found":{"name":"Log level when file not found","displayName":"Log level when file not found","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log level when permission denied":{"name":"Log level when permission denied","displayName":"Log level when permission denied","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File to Fetch":{"name":"File to Fetch","displayName":"File to Fetch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#0080ff"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"b2ea5beb-6ca1-3bde-b859-cc6191fc3443","instanceIdentifier":"45d6d8b0-0194-1000-e681-7c7add23eebd","name":"Rename Columns add Index","comments":"","position":{"x":136.0,"y":-1824.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"dbf-default-precision":"10","record-writer":"58f85c13-11a0-322b-bc06-5f6f66c85576","query":"SELECT \n    ROW_NUMBER() OVER (ORDER BY \"DELIVERY ZIPCODE\") AS row_index, \n    \"DELIVERY ZIPCODE\" AS zipcode,\n\t\"LOCALE NAME\" AS name, \n\t\"PHYSICAL CITY\" AS city,\n\t\"PHYSICAL STATE\" AS state, \n\t\"AREA NAME\" AS area_name \nFROM \n    FLOWFILE","record-reader":"a34affed-2548-3851-8cd2-69388e98d7dc","include-zero-record-flowfiles":"true","dbf-default-scale":"0"},"propertyDescriptors":{"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"query":{"name":"query","displayName":"query","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#ffff80"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"79fef0f9-8b2c-3dd2-861b-8cf386c09dc2","instanceIdentifier":"14503825-eebe-10b1-985e-0e85f5bdac5c","name":"LOAD IN fact_visit_cost","comments":"","position":{"x":824.0,"y":-1368.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"put-db-record-allow-multiple-statements":"false","table-schema-cache-size":"100","put-db-record-schema-name":null,"put-db-record-field-containing-sql":null,"put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"d9f70637-7326-3ba9-ad36-80fa5493a461","put-db-record-query-timeout":"0 seconds","rollback-on-failure":"false","put-db-record-statement-type":"INSERT","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-table-name":"fact_visit_cost","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","put-db-record-record-reader":"a34affed-2548-3851-8cd2-69388e98d7dc","Data Record Path":null,"database-session-autocommit":"false"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#80ff80"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"1 min","componentType":"PROCESSOR","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"3bd2de95-364b-36d8-9c63-e35717cc67e3","instanceIdentifier":"b9783528-5691-1278-fd1d-6349672587ea","name":"LOAD IN dim_proc_terminology","comments":"","position":{"x":-840.0,"y":-1368.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"put-db-record-allow-multiple-statements":"false","table-schema-cache-size":"100","put-db-record-schema-name":null,"put-db-record-field-containing-sql":null,"put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"d9f70637-7326-3ba9-ad36-80fa5493a461","put-db-record-query-timeout":"0 seconds","rollback-on-failure":"false","put-db-record-statement-type":"INSERT_IGNORE","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-table-name":"dim_proc_terminology","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","put-db-record-record-reader":"a34affed-2548-3851-8cd2-69388e98d7dc","Data Record Path":null,"database-session-autocommit":"false"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#80ff80"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"47781a80-be5d-3adb-b12b-0c0b7c87e250","instanceIdentifier":"eebe10b1-3825-1450-47aa-5b430b2df3ba","name":"LOAD IN dim_specialty","comments":"","position":{"x":-352.0,"y":-1368.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"put-db-record-allow-multiple-statements":"false","table-schema-cache-size":"100","put-db-record-schema-name":null,"put-db-record-field-containing-sql":null,"put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"d9f70637-7326-3ba9-ad36-80fa5493a461","put-db-record-query-timeout":"0 seconds","rollback-on-failure":"false","put-db-record-statement-type":"INSERT_IGNORE","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-table-name":"dim_specialty","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","put-db-record-record-reader":"a34affed-2548-3851-8cd2-69388e98d7dc","Data Record Path":null,"database-session-autocommit":"false"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#80ff80"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"db342f20-8bbb-311a-9ed9-dc6ae76f8dff","instanceIdentifier":"46275920-0194-1000-0e39-97ca9294fd81","name":"LOAD IN dim_zipcode","comments":"","position":{"x":136.0,"y":-1368.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"put-db-record-allow-multiple-statements":"false","table-schema-cache-size":"100","put-db-record-schema-name":null,"put-db-record-field-containing-sql":null,"put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"d9f70637-7326-3ba9-ad36-80fa5493a461","put-db-record-query-timeout":"0 seconds","rollback-on-failure":"false","put-db-record-statement-type":"INSERT_IGNORE","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-table-name":"dim_zipcode","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","put-db-record-record-reader":"a34affed-2548-3851-8cd2-69388e98d7dc","Data Record Path":null,"database-session-autocommit":"false"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#80ff80"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"93d73d64-0c67-3070-bef4-761116c70fcb","instanceIdentifier":"b978351f-5691-1278-444f-ca3e121b97b6","name":"","source":{"id":"f259fc86-9d27-342e-bd4c-6e946fc6df96","type":"PROCESSOR","groupId":"2de84678-4fc4-3901-a423-ed00ee69e61c","name":"Extract Procedure","comments":"","instanceIdentifier":"b978351b-5691-1278-3cc9-79cac4156e30"},"destination":{"id":"50a2530d-2c21-3f85-aa17-0bc58881d19c","type":"PROCESSOR","groupId":"2de84678-4fc4-3901-a423-ed00ee69e61c","name":"Convert from CSV to JSON","comments":"","instanceIdentifier":"b978351e-5691-1278-9a4f-9a648705ef27"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"a6aa3f8f-b6b4-3fc5-83f1-8000a3386807","instanceIdentifier":"462781bb-0194-1000-a8d5-dbb19d37a31b","name":"","source":{"id":"1a3b83b3-6be7-3d39-b91a-17028526f023","type":"PROCESSOR","groupId":"2de84678-4fc4-3901-a423-ed00ee69e61c","name":"Eliminate duplicates","comments":"","instanceIdentifier":"01941000-d8b0-15d6-83d9-f94cca6fbce0"},"destination":{"id":"db342f20-8bbb-311a-9ed9-dc6ae76f8dff","type":"PROCESSOR","groupId":"2de84678-4fc4-3901-a423-ed00ee69e61c","name":"LOAD IN dim_zipcode","comments":"","instanceIdentifier":"46275920-0194-1000-0e39-97ca9294fd81"},"labelIndex":0,"zIndex":0,"selectedRelationships":["query"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"eb242b05-bcc4-389f-9a71-bbeedccd1624","instanceIdentifier":"01941001-d8b0-15d6-ef7c-8a339f6461e2","name":"","source":{"id":"a845abca-1d61-38e7-b970-a3724c553e55","type":"PROCESSOR","groupId":"2de84678-4fc4-3901-a423-ed00ee69e61c","name":"Convert from CSV to JSON","comments":"","instanceIdentifier":"3733a60d-0194-1000-a339-4b1dd8ff3c9d"},"destination":{"id":"5ee14491-5396-3733-a738-3d4c36cbf804","type":"PROCESSOR","groupId":"2de84678-4fc4-3901-a423-ed00ee69e61c","name":"Rename Columns","comments":"","instanceIdentifier":"01941000-d8b0-15d6-1486-86dfb0e5238e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"2f02e5e5-bbca-3b5e-acb7-375995feefb9","instanceIdentifier":"45d6ff91-0194-1000-b973-5f140468da35","name":"","source":{"id":"33215b8d-f994-391c-8237-240ed1c4fbd6","type":"PROCESSOR","groupId":"2de84678-4fc4-3901-a423-ed00ee69e61c","name":"Convert from Excel to JSON","comments":"Convert excel format to JSON format","instanceIdentifier":"b9783534-5691-1278-55c0-b9cce93a451c"},"destination":{"id":"b2ea5beb-6ca1-3bde-b859-cc6191fc3443","type":"PROCESSOR","groupId":"2de84678-4fc4-3901-a423-ed00ee69e61c","name":"Rename Columns add Index","comments":"","instanceIdentifier":"45d6d8b0-0194-1000-e681-7c7add23eebd"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"7daf5110-284f-38b3-a59a-3acb9d1846b1","instanceIdentifier":"dfd13d17-d730-1ae4-a097-cd28f66cb8ac","name":"","source":{"id":"9de29cc8-8abd-3b93-bcd2-8f2ee9c879a0","type":"OUTPUT_PORT","groupId":"a4ddf145-39b7-3a5a-b07d-16f5dce6414e","name":"output","instanceIdentifier":"2c523cfe-239f-1e44-88fb-b06f1b3aead6"},"destination":{"id":"288e2ec5-ac5b-352b-82ed-109e93e24baa","type":"INPUT_PORT","groupId":"4b788d1f-f3d5-3179-aac3-9e44b4b850e0","name":"input","instanceIdentifier":"dfd13d0e-d730-1ae4-f675-26ed3764ea5f"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"e0f05696-b330-39e7-8803-2214509ff0a8","instanceIdentifier":"dfd13d1d-d730-1ae4-8117-16483648aa53","name":"","source":{"id":"ea5f5cee-0b50-3c4f-94e4-37fffc2b29ee","type":"OUTPUT_PORT","groupId":"4b788d1f-f3d5-3179-aac3-9e44b4b850e0","name":"output","instanceIdentifier":"dfd13d0f-d730-1ae4-1ac9-f7e023d8e61c"},"destination":{"id":"79fef0f9-8b2c-3dd2-861b-8cf386c09dc2","type":"PROCESSOR","groupId":"2de84678-4fc4-3901-a423-ed00ee69e61c","name":"LOAD IN fact_visit_cost","comments":"","instanceIdentifier":"14503825-eebe-10b1-985e-0e85f5bdac5c"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"0cf54838-5508-3ba5-a752-aa76d48fa03b","instanceIdentifier":"01941009-d8b0-15d6-bd94-a447311e8dae","name":"","source":{"id":"50a2530d-2c21-3f85-aa17-0bc58881d19c","type":"PROCESSOR","groupId":"2de84678-4fc4-3901-a423-ed00ee69e61c","name":"Convert from CSV to JSON","comments":"","instanceIdentifier":"b978351e-5691-1278-9a4f-9a648705ef27"},"destination":{"id":"30176686-d5d2-31af-bbcb-23b68b60e1e1","type":"PROCESSOR","groupId":"2de84678-4fc4-3901-a423-ed00ee69e61c","name":"Rename Columns","comments":"","instanceIdentifier":"01941008-d8b0-15d6-7bf7-825b45230720"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"ceb14f0f-2d46-3030-b4c1-9a10afe05b08","instanceIdentifier":"463ae431-0194-1000-8acc-a031ca1d2f88","name":"only costs with valid zipcode","source":{"id":"db342f20-8bbb-311a-9ed9-dc6ae76f8dff","type":"PROCESSOR","groupId":"2de84678-4fc4-3901-a423-ed00ee69e61c","name":"LOAD IN dim_zipcode","comments":"","instanceIdentifier":"46275920-0194-1000-0e39-97ca9294fd81"},"destination":{"id":"d4fd7802-8994-3eff-a70a-2295d9ca65f9","type":"INPUT_PORT","groupId":"a55aaaef-2d9e-3932-b78f-4a9c75779a17","name":"from Load zipcodes","instanceIdentifier":"0194104e-1c06-1655-c2ec-42230f715b61"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":624.0,"y":-1304.0},{"x":624.0,"y":-2152.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"ab3eaf44-292c-3169-8120-af8cb1fa11ea","instanceIdentifier":"b978351c-5691-1278-3be6-268c7327ac1d","name":"","source":{"id":"1b99890b-86e8-3b29-8f3c-c1dd6982cfaf","type":"PROCESSOR","groupId":"2de84678-4fc4-3901-a423-ed00ee69e61c","name":"Initialize Flow","comments":"This NiFi processor initiates the entire process to retrieve information from various APIs. It sets up the parameters that will be used in other process groups. \n\n*** currentIndex:  This index helps in retrieving data from APIs that contain too many records to fetch in a single request. Initially, the index is set to 0, and subsequent processors increment this index to retrieve the next batch of records.\n*** increaseIndex:  The increment to find the next 1000 records from the API will be 1000.\n*** limit:  This number specifies the amount of records that the API's GET request will retrieve. \n","instanceIdentifier":"9a339981-e4c3-3a8f-2d25-44a03b22bf1a"},"destination":{"id":"f259fc86-9d27-342e-bd4c-6e946fc6df96","type":"PROCESSOR","groupId":"2de84678-4fc4-3901-a423-ed00ee69e61c","name":"Extract Procedure","comments":"","instanceIdentifier":"b978351b-5691-1278-3cc9-79cac4156e30"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-664.0,"y":-2328.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"142a44e6-2235-3857-9afe-bd5d3575b89f","instanceIdentifier":"b9783530-5691-1278-94cc-575b04997e34","name":"","source":{"id":"df473c61-ac0c-3a0f-9ac5-c12b0b21d98d","type":"PROCESSOR","groupId":"2de84678-4fc4-3901-a423-ed00ee69e61c","name":"Extract ZipCode","comments":"","instanceIdentifier":"b978352d-5691-1278-8cc2-e732ddf3b44d"},"destination":{"id":"33215b8d-f994-391c-8237-240ed1c4fbd6","type":"PROCESSOR","groupId":"2de84678-4fc4-3901-a423-ed00ee69e61c","name":"Convert from Excel to JSON","comments":"Convert excel format to JSON format","instanceIdentifier":"b9783534-5691-1278-55c0-b9cce93a451c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"b73ac2b5-4f57-39bf-b61c-4adad120c50a","instanceIdentifier":"0194100a-d8b0-15d6-35b8-c9d619551989","name":"","source":{"id":"30176686-d5d2-31af-bbcb-23b68b60e1e1","type":"PROCESSOR","groupId":"2de84678-4fc4-3901-a423-ed00ee69e61c","name":"Rename Columns","comments":"","instanceIdentifier":"01941008-d8b0-15d6-7bf7-825b45230720"},"destination":{"id":"3bd2de95-364b-36d8-9c63-e35717cc67e3","type":"PROCESSOR","groupId":"2de84678-4fc4-3901-a423-ed00ee69e61c","name":"LOAD IN dim_proc_terminology","comments":"","instanceIdentifier":"b9783528-5691-1278-fd1d-6349672587ea"},"labelIndex":0,"zIndex":0,"selectedRelationships":["query"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"c6606958-2d5d-33f5-8d9f-743dca8d3209","instanceIdentifier":"dfd13d0b-d730-1ae4-f50a-8b4479e87e2d","name":"","source":{"id":"d94a409e-6ef9-3828-bb8f-87fbd81b1736","type":"OUTPUT_PORT","groupId":"a55aaaef-2d9e-3932-b78f-4a9c75779a17","name":"output","instanceIdentifier":"01941050-1c06-1655-6ad4-f69b8976d559"},"destination":{"id":"cfadc80e-40b7-3fd1-a0d7-40df97973b26","type":"INPUT_PORT","groupId":"a4ddf145-39b7-3a5a-b07d-16f5dce6414e","name":"input","instanceIdentifier":"2c523cfd-239f-1e44-cf9c-023cf7ab2221"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"0700855c-fe48-3243-87b1-643dfaea3db8","instanceIdentifier":"45dc2aa7-0194-1000-6369-e2c2d9f817fe","name":"","source":{"id":"b2ea5beb-6ca1-3bde-b859-cc6191fc3443","type":"PROCESSOR","groupId":"2de84678-4fc4-3901-a423-ed00ee69e61c","name":"Rename Columns add Index","comments":"","instanceIdentifier":"45d6d8b0-0194-1000-e681-7c7add23eebd"},"destination":{"id":"1a3b83b3-6be7-3d39-b91a-17028526f023","type":"PROCESSOR","groupId":"2de84678-4fc4-3901-a423-ed00ee69e61c","name":"Eliminate duplicates","comments":"","instanceIdentifier":"01941000-d8b0-15d6-83d9-f94cca6fbce0"},"labelIndex":0,"zIndex":0,"selectedRelationships":["query"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"e690910e-05cd-360e-9e4e-5dadb86cebdb","instanceIdentifier":"b978352e-5691-1278-c4de-15510b0963cf","name":"","source":{"id":"1b99890b-86e8-3b29-8f3c-c1dd6982cfaf","type":"PROCESSOR","groupId":"2de84678-4fc4-3901-a423-ed00ee69e61c","name":"Initialize Flow","comments":"This NiFi processor initiates the entire process to retrieve information from various APIs. It sets up the parameters that will be used in other process groups. \n\n*** currentIndex:  This index helps in retrieving data from APIs that contain too many records to fetch in a single request. Initially, the index is set to 0, and subsequent processors increment this index to retrieve the next batch of records.\n*** increaseIndex:  The increment to find the next 1000 records from the API will be 1000.\n*** limit:  This number specifies the amount of records that the API's GET request will retrieve. \n","instanceIdentifier":"9a339981-e4c3-3a8f-2d25-44a03b22bf1a"},"destination":{"id":"df473c61-ac0c-3a0f-9ac5-c12b0b21d98d","type":"PROCESSOR","groupId":"2de84678-4fc4-3901-a423-ed00ee69e61c","name":"Extract ZipCode","comments":"","instanceIdentifier":"b978352d-5691-1278-8cc2-e732ddf3b44d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":312.0,"y":-2328.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"ab0b97a8-8989-3768-a521-acb86fe4af8b","instanceIdentifier":"372a50ed-0194-1000-7a4b-f08ca4f049e6","name":"","source":{"id":"cd63352a-e939-38f0-81bf-1aabac29155e","type":"PROCESSOR","groupId":"2de84678-4fc4-3901-a423-ed00ee69e61c","name":"Extract Specialties","comments":"","instanceIdentifier":"3728d319-0194-1000-5029-83751ba32e49"},"destination":{"id":"a845abca-1d61-38e7-b970-a3724c553e55","type":"PROCESSOR","groupId":"2de84678-4fc4-3901-a423-ed00ee69e61c","name":"Convert from CSV to JSON","comments":"","instanceIdentifier":"3733a60d-0194-1000-a339-4b1dd8ff3c9d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success","failure","permission.denied","not.found"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"d1a29966-dccb-3a93-8371-f01f35315645","instanceIdentifier":"466d506c-0194-1000-2fc1-9399a7db0f4f","name":"","source":{"id":"1b99890b-86e8-3b29-8f3c-c1dd6982cfaf","type":"PROCESSOR","groupId":"2de84678-4fc4-3901-a423-ed00ee69e61c","name":"Initialize Flow","comments":"This NiFi processor initiates the entire process to retrieve information from various APIs. It sets up the parameters that will be used in other process groups. \n\n*** currentIndex:  This index helps in retrieving data from APIs that contain too many records to fetch in a single request. Initially, the index is set to 0, and subsequent processors increment this index to retrieve the next batch of records.\n*** increaseIndex:  The increment to find the next 1000 records from the API will be 1000.\n*** limit:  This number specifies the amount of records that the API's GET request will retrieve. \n","instanceIdentifier":"9a339981-e4c3-3a8f-2d25-44a03b22bf1a"},"destination":{"id":"cd63352a-e939-38f0-81bf-1aabac29155e","type":"PROCESSOR","groupId":"2de84678-4fc4-3901-a423-ed00ee69e61c","name":"Extract Specialties","comments":"","instanceIdentifier":"3728d319-0194-1000-5029-83751ba32e49"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"fd80406a-8083-3798-b4f8-6a7f8cde0f5a","instanceIdentifier":"01941002-d8b0-15d6-2e84-780e75f2982c","name":"","source":{"id":"5ee14491-5396-3733-a738-3d4c36cbf804","type":"PROCESSOR","groupId":"2de84678-4fc4-3901-a423-ed00ee69e61c","name":"Rename Columns","comments":"","instanceIdentifier":"01941000-d8b0-15d6-1486-86dfb0e5238e"},"destination":{"id":"47781a80-be5d-3adb-b12b-0c0b7c87e250","type":"PROCESSOR","groupId":"2de84678-4fc4-3901-a423-ed00ee69e61c","name":"LOAD IN dim_specialty","comments":"","instanceIdentifier":"eebe10b1-3825-1450-47aa-5b430b2df3ba"},"labelIndex":0,"zIndex":0,"selectedRelationships":["query"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"dc3dd465-a8ab-3810-9250-aab8be71a2f6","instanceIdentifier":"b9783557-5691-1278-9dee-19d9ff0bf423","name":"AvroRecordSetWriter","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-cache":null,"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"encoder-pool-size":"32","schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"3f6deaaf-4a35-31a3-b8d2-fad6cd158de8","instanceIdentifier":"9b638e6f-6607-3225-bc66-847bc759270c","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"9b38d1d6-1d6c-3c1c-97f0-20a1ece0f996","instanceIdentifier":"46585c90-0194-1000-e5e8-baa78c53edbc","name":"MapCacheClientService","comments":"","type":"org.apache.nifi.distributed.cache.client.MapCacheClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"2.0.0"},"properties":{"SSL Context Service":null,"Server Port":"4557","Server Hostname":"localhost","Communications Timeout":"30 secs"},"propertyDescriptors":{"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Server Port":{"name":"Server Port","displayName":"Server Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Server Hostname":{"name":"Server Hostname","displayName":"Server Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}},{"type":"org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"947a8ce3-b6bf-3b67-8fb1-67580e99e13c","instanceIdentifier":"0194100b-d8b0-15d6-ae32-b1968525dd90","name":"MapCacheServer","comments":"","type":"org.apache.nifi.distributed.cache.server.map.MapCacheServer","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"2.0.0"},"properties":{"Eviction Strategy":"Least Frequently Used","SSL Context Service":null,"Persistence Directory":null,"maximum-read-size":"1 MB","Port":"4557","Maximum Cache Entries":"10000"},"propertyDescriptors":{"Eviction Strategy":{"name":"Eviction Strategy","displayName":"Eviction Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Persistence Directory":{"name":"Persistence Directory","displayName":"Persistence Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"maximum-read-size":{"name":"maximum-read-size","displayName":"Maximum Read Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Cache Entries":{"name":"Maximum Cache Entries","displayName":"Maximum Cache Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"887fc47b-8825-3fe0-9beb-bd8280b543bd","instanceIdentifier":"34d40d98-b8d5-3729-1a74-7aa5e9a125e2","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"CSV Format":"custom","Include Header Line":"true","schema-cache":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","csv-writer":"commons-csv","Quote Character":"\"","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","schema-name":"${schema.name}","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-writer":{"name":"csv-writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"18223c90-a73a-38a7-bfbc-7f19235eb0e1","instanceIdentifier":"b9783532-5691-1278-81e9-7c2fe97403fc","name":"ExcelReader","comments":"","type":"org.apache.nifi.excel.ExcelReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-poi-nar","version":"2.0.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Required Sheets":"ZIP_DETAIL","Timestamp Format":null,"Date Format":null,"schema-name":"${schema.name}","schema-registry":null,"Starting Row":"1","Protection Type":"UNPROTECTED","Time Format":null,"schema-access-strategy":"Use Starting Row","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Required Sheets":{"name":"Required Sheets","displayName":"Required Sheets","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Starting Row":{"name":"Starting Row","displayName":"Starting Row","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Protection Type":{"name":"Protection Type","displayName":"Protection Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"a34affed-2548-3851-8cd2-69388e98d7dc","instanceIdentifier":"a130b856-d3bf-3812-ce40-68ca85896909","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"58f85c13-11a0-322b-bc06-5f6f66c85576","instanceIdentifier":"e07f17b0-de39-315b-a948-e309506be258","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"9e7da8a0-aa2f-3959-8c50-1b7ed1f0778f","instanceIdentifier":"b978357f-5691-1278-c2ab-b63d10fd2135","name":"CSVRecordLookupService","comments":"","type":"org.apache.nifi.lookup.CSVRecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.0.0"},"properties":{"Escape Character":"\\","lookup-key-column":"zipcode","csv-file":"/opt/nifi/nifi-current/datasets/output/zipcode.csv","Trim Fields":"true","CSV Format":"default","ignore-duplicates":"true","Quote Character":"\"","Comment Marker":null,"Value Separator":",","Character Set":"UTF-8","Quote Mode":"MINIMAL"},"propertyDescriptors":{"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lookup-key-column":{"name":"lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-file":{"name":"csv-file","displayName":"CSV File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ignore-duplicates":{"name":"ignore-duplicates","displayName":"Ignore Duplicates","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}},{"type":"org.apache.nifi.lookup.RecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"d9f70637-7326-3ba9-ad36-80fa5493a461","instanceIdentifier":"61f6d628-7571-3f8a-5ddb-f959c6e2b7f0","name":"DBCPConnectionPool_POSTGRES","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.0.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://#{LOCALHOST}:#{PostgresPort}/healthcare","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/drivers/postgresql-42.7.4.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY","URL"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"}],"parameterContextName":"HEALTHCARE_PROVIDER_COSTS","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","logFileSuffix":"","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"HEALTHCARE_PROVIDER_COSTS":{"name":"HEALTHCARE_PROVIDER_COSTS","parameters":[{"name":"unique_zipcodes","description":"","sensitive":false,"provided":false,"value":"zipcode.csv"},{"name":"output_directory","description":"","sensitive":false,"provided":false,"value":"/opt/nifi/nifi-current/datasets/output"},{"name":"LOCALHOST","description":"","sensitive":false,"provided":false,"value":"192.168.0.57"},{"name":"PostgresPort","description":"","sensitive":false,"provided":false,"value":"51432"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}