flow_definition/HEALTHCARE-PROVIDER-COSTS.json
{"flowContents":{"identifier":"2de84678-4fc4-3901-a423-ed00ee69e61c","instanceIdentifier":"35f3fde4-0194-1000-a0cf-ba6f986c35d8","name":"HEALTHCARE-PROVIDER-COSTS","comments":"","position":{"x":-168.0,"y":-600.0},"processGroups":[{"identifier":"b7954326-3c53-3794-bc08-fdcfce342a6a","instanceIdentifier":"065ea793-55ac-3933-1c29-c9295509183f","name":"SPECIALTY COST","comments":"","position":{"x":-504.0,"y":-1784.0},"processGroups":[{"identifier":"98fdec19-18b2-3b33-9fbc-c0b7dcc290bc","instanceIdentifier":"b586ee70-5a30-3dad-e994-35aa66677e75","name":"TRANSFORM","comments":"","position":{"x":-816.0,"y":-568.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"1039fa8e-313e-3b64-9e43-62b690b0b91f","instanceIdentifier":"37893490-0194-1000-7df5-d3d6a832ad9b","name":"JoltTransformJSON","comments":"","position":{"x":-1592.0,"y":-1128.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.0.0"},"properties":{"Jolt Transform":"jolt-transform-chain","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"default\",\n    \"spec\": {\n      \"id_speciality\": \"${id_specialty}\"\n    }\n  }\n]\n"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"98fdec19-18b2-3b33-9fbc-c0b7dcc290bc"},{"identifier":"24036f8f-b7d1-37bf-acde-95348424e0d0","instanceIdentifier":"42785691-b978-3514-c1a3-76311b34a27a","name":"Split in multiple FlowFiles","comments":"","position":{"x":-1592.0,"y":-1360.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.results[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"98fdec19-18b2-3b33-9fbc-c0b7dcc290bc"},{"identifier":"6ab552fc-76c5-35ce-ab25-978a6cc1aa86","instanceIdentifier":"38b38153-0194-1000-87fd-a3146e4e8994","name":"Rename Atributes","comments":"","position":{"x":-1592.0,"y":-896.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.0.0"},"properties":{"Jolt Transform":"jolt-transform-chain","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"shift\", \n    \"spec\": {\n      \"zip_code\" : \"zipcode\",\n      \"id_speciality\" : \"id_specialty\",\n      \"min_medicare_pricing_for_new_patient\": \"min_pric_new_pt\",\n      \"max_medicare_pricing_for_new_patient\" : \"max_pric_new_pt\",\n  \t  \"mode_medicare_pricing_for_new_patient\" : \"mode_pric_new_pt\",\n      \"min_copay_for_new_patient\" : \"min_copay_new_pt\",\n  \t  \"max_copay_for_new_patient\" : \"max_copay_new_pt\",\n      \"mode_copay_for_new_patient\" : \"mode_copay_new_pt\",\n      \"most_utilized_procedure_code_for_new_patient\" : \"most_util_proc_new_pt\",\n      \"min_medicare_pricing_for_established_patient\" : \"min_pric_est_pt\",\n      \"max_medicare_pricing_for_established_patient\" : \"max_pric_est_pt\",\n      \"mode_medicare_pricing_for_established_patient\" : \"mode_pric_est_pt\",\n      \"min_copay_for_established_patient\" : \"min_copay_est_pt\",\n      \"max_copay_for_established_patient\" : \"max_copay_est_pt\",\n      \"mode_copay_for_established_patient\" : \"mode_copay_est_pt\",\n      \"most_utilized_procedure_code_for_established_patient\" : \"most_util_proc_est_pt\"\n    }\n  }\n]"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"98fdec19-18b2-3b33-9fbc-c0b7dcc290bc"}],"inputPorts":[{"identifier":"288e2ec5-ac5b-352b-82ed-109e93e24baa","instanceIdentifier":"dff91b48-3f00-3a95-8315-fab1ae5a3cb5","name":"input","position":{"x":-1536.0,"y":-1464.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"98fdec19-18b2-3b33-9fbc-c0b7dcc290bc"}],"outputPorts":[{"identifier":"ea5f5cee-0b50-3c4f-94e4-37fffc2b29ee","instanceIdentifier":"512af770-e191-3aa1-5232-987e76395d5e","name":"output","position":{"x":-1536.0,"y":-656.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"98fdec19-18b2-3b33-9fbc-c0b7dcc290bc"}],"connections":[{"identifier":"1a93ee42-cd55-30d3-b6b7-b538a6fde592","instanceIdentifier":"38b418ce-0194-1000-7bf1-9a0f95d7ac7e","name":"","source":{"id":"6ab552fc-76c5-35ce-ab25-978a6cc1aa86","type":"PROCESSOR","groupId":"98fdec19-18b2-3b33-9fbc-c0b7dcc290bc","name":"Rename Atributes","comments":"","instanceIdentifier":"38b38153-0194-1000-87fd-a3146e4e8994"},"destination":{"id":"ea5f5cee-0b50-3c4f-94e4-37fffc2b29ee","type":"OUTPUT_PORT","groupId":"98fdec19-18b2-3b33-9fbc-c0b7dcc290bc","name":"output","instanceIdentifier":"512af770-e191-3aa1-5232-987e76395d5e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"98fdec19-18b2-3b33-9fbc-c0b7dcc290bc"},{"identifier":"8dca6578-d219-3fc3-aa4a-8064aa99fbf4","instanceIdentifier":"3675e16e-0194-1000-b009-d5a448af71c2","name":"","source":{"id":"288e2ec5-ac5b-352b-82ed-109e93e24baa","type":"INPUT_PORT","groupId":"98fdec19-18b2-3b33-9fbc-c0b7dcc290bc","name":"input","instanceIdentifier":"dff91b48-3f00-3a95-8315-fab1ae5a3cb5"},"destination":{"id":"24036f8f-b7d1-37bf-acde-95348424e0d0","type":"PROCESSOR","groupId":"98fdec19-18b2-3b33-9fbc-c0b7dcc290bc","name":"Split in multiple FlowFiles","comments":"","instanceIdentifier":"42785691-b978-3514-c1a3-76311b34a27a"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"98fdec19-18b2-3b33-9fbc-c0b7dcc290bc"},{"identifier":"4c3e0b2c-5807-3b90-8dc8-f3b3c6a70a7c","instanceIdentifier":"9969b30d-7bd4-3960-eaf2-a94ccf952190","name":"","source":{"id":"24036f8f-b7d1-37bf-acde-95348424e0d0","type":"PROCESSOR","groupId":"98fdec19-18b2-3b33-9fbc-c0b7dcc290bc","name":"Split in multiple FlowFiles","comments":"","instanceIdentifier":"42785691-b978-3514-c1a3-76311b34a27a"},"destination":{"id":"1039fa8e-313e-3b64-9e43-62b690b0b91f","type":"PROCESSOR","groupId":"98fdec19-18b2-3b33-9fbc-c0b7dcc290bc","name":"JoltTransformJSON","comments":"","instanceIdentifier":"37893490-0194-1000-7df5-d3d6a832ad9b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"98fdec19-18b2-3b33-9fbc-c0b7dcc290bc"},{"identifier":"00452119-6faf-3aaa-8f5a-399544eb05ae","instanceIdentifier":"38b3fd4a-0194-1000-6f39-07adfe5f5933","name":"","source":{"id":"1039fa8e-313e-3b64-9e43-62b690b0b91f","type":"PROCESSOR","groupId":"98fdec19-18b2-3b33-9fbc-c0b7dcc290bc","name":"JoltTransformJSON","comments":"","instanceIdentifier":"37893490-0194-1000-7df5-d3d6a832ad9b"},"destination":{"id":"6ab552fc-76c5-35ce-ab25-978a6cc1aa86","type":"PROCESSOR","groupId":"98fdec19-18b2-3b33-9fbc-c0b7dcc290bc","name":"Rename Atributes","comments":"","instanceIdentifier":"38b38153-0194-1000-87fd-a3146e4e8994"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"98fdec19-18b2-3b33-9fbc-c0b7dcc290bc"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"HEALTHCARE_PROVIDER_COSTS","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"b7954326-3c53-3794-bc08-fdcfce342a6a"},{"identifier":"73697892-d870-3b7d-8e01-73e0883f31cd","instanceIdentifier":"3ad1ff0b-3428-330b-4d1e-f4dadac263f8","name":"EXTRACT","comments":"","position":{"x":-816.0,"y":-856.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"6465add4-e6a5-371c-9694-100bd34df229","instanceIdentifier":"fd0db21b-ff23-3cc3-8f7a-afdb9104e8db","name":"Get if there are data","comments":"","position":{"x":-1000.0,"y":-928.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"error_message":"$.results.length()","Destination":"flowfile-attribute","results_length":"$.results.length()","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"error_message":{"name":"error_message","displayName":"error_message","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"results_length":{"name":"results_length","displayName":"results_length","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"73697892-d870-3b7d-8e01-73e0883f31cd"},{"identifier":"b2c32eab-0988-36c5-92cf-795f7ecf9496","instanceIdentifier":"3554514d-bd0a-3d05-c5d1-070df111afd0","name":"If number of records not 0","comments":"","position":{"x":-384.0,"y":-928.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Routing Strategy":"Route to Property name","ContinueLoop":"${results_length:equals(0):not()}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ContinueLoop":{"name":"ContinueLoop","displayName":"ContinueLoop","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"73697892-d870-3b7d-8e01-73e0883f31cd"},{"identifier":"14339c80-6bbd-3664-b792-ebcd0605feca","instanceIdentifier":"106e754c-37ae-32bd-e771-87724042377a","name":"Increase offset","comments":"","position":{"x":-376.0,"y":-1144.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"currentIndex":"${currentIndex:plus(${increaseIndex})}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"currentIndex":{"name":"currentIndex","displayName":"currentIndex","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"73697892-d870-3b7d-8e01-73e0883f31cd"},{"identifier":"68bdda78-146d-3370-a1a3-fd68e49ed321","instanceIdentifier":"373db359-0194-1000-2914-478759170522","name":"SplitJson","comments":"","position":{"x":-1008.0,"y":-1568.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"73697892-d870-3b7d-8e01-73e0883f31cd"},{"identifier":"d01335bd-584f-30a0-ac75-6535b5f966d7","instanceIdentifier":"37446084-0194-1000-e5fa-39a715c5fbb2","name":"EvaluateJsonPath","comments":"","position":{"x":-1008.0,"y":-1352.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","id_specialty":"$.id_specialty","Return Type":"auto-detect","name":"$.name","api_query":"$.api_query","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"id_specialty":{"name":"id_specialty","displayName":"id_specialty","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"name":{"name":"name","displayName":"name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"api_query":{"name":"api_query","displayName":"api_query","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"73697892-d870-3b7d-8e01-73e0883f31cd"},{"identifier":"3724e1ee-7cad-3031-8d07-f7b24e41c18b","instanceIdentifier":"36028ba1-0194-1000-2413-eac9d58e0c43","name":"InvokeHTTP","comments":"","position":{"x":-1008.0,"y":-1144.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://data.cms.gov/provider-data/api/1/datastore/query/${api_query}/0?${limit}&offset=${currentIndex}&count=false&results=true&schema=false&keys=true&format=json&rowIds=false","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"73697892-d870-3b7d-8e01-73e0883f31cd"}],"inputPorts":[{"identifier":"cfadc80e-40b7-3fd1-a0d7-40df97973b26","instanceIdentifier":"4e44239f-2c52-3cfd-90a5-37ff7c3fb1e4","name":"input","position":{"x":-944.0,"y":-1672.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"73697892-d870-3b7d-8e01-73e0883f31cd"}],"outputPorts":[{"identifier":"9de29cc8-8abd-3b93-bcd2-8f2ee9c879a0","instanceIdentifier":"06d09648-f076-3f51-c548-146bcb67bc8f","name":"output","position":{"x":-328.0,"y":-664.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"73697892-d870-3b7d-8e01-73e0883f31cd"}],"connections":[{"identifier":"c8489cf8-2dad-364c-a2f8-447a6980e60d","instanceIdentifier":"1cceac36-76c0-3f39-05f0-997867b4dbb9","name":"","source":{"id":"b2c32eab-0988-36c5-92cf-795f7ecf9496","type":"PROCESSOR","groupId":"73697892-d870-3b7d-8e01-73e0883f31cd","name":"If number of records not 0","comments":"","instanceIdentifier":"3554514d-bd0a-3d05-c5d1-070df111afd0"},"destination":{"id":"9de29cc8-8abd-3b93-bcd2-8f2ee9c879a0","type":"OUTPUT_PORT","groupId":"73697892-d870-3b7d-8e01-73e0883f31cd","name":"output","instanceIdentifier":"06d09648-f076-3f51-c548-146bcb67bc8f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["ContinueLoop"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"73697892-d870-3b7d-8e01-73e0883f31cd"},{"identifier":"10a4db24-eb21-3c5d-aeb5-d231dd41741e","instanceIdentifier":"36034ae1-0194-1000-fd82-c94d81ae7b5d","name":"","source":{"id":"3724e1ee-7cad-3031-8d07-f7b24e41c18b","type":"PROCESSOR","groupId":"73697892-d870-3b7d-8e01-73e0883f31cd","name":"InvokeHTTP","comments":"","instanceIdentifier":"36028ba1-0194-1000-2413-eac9d58e0c43"},"destination":{"id":"6465add4-e6a5-371c-9694-100bd34df229","type":"PROCESSOR","groupId":"73697892-d870-3b7d-8e01-73e0883f31cd","name":"Get if there are data","comments":"","instanceIdentifier":"fd0db21b-ff23-3cc3-8f7a-afdb9104e8db"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"73697892-d870-3b7d-8e01-73e0883f31cd"},{"identifier":"0b3f9929-db04-3149-955b-8eebfcba30d5","instanceIdentifier":"7ae4d730-dfd1-3d06-6142-12baa87c567b","name":"","source":{"id":"6465add4-e6a5-371c-9694-100bd34df229","type":"PROCESSOR","groupId":"73697892-d870-3b7d-8e01-73e0883f31cd","name":"Get if there are data","comments":"","instanceIdentifier":"fd0db21b-ff23-3cc3-8f7a-afdb9104e8db"},"destination":{"id":"b2c32eab-0988-36c5-92cf-795f7ecf9496","type":"PROCESSOR","groupId":"73697892-d870-3b7d-8e01-73e0883f31cd","name":"If number of records not 0","comments":"","instanceIdentifier":"3554514d-bd0a-3d05-c5d1-070df111afd0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","matched","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"73697892-d870-3b7d-8e01-73e0883f31cd"},{"identifier":"c50a8830-e92b-35a1-b2e4-4065e29ad0fa","instanceIdentifier":"374576db-0194-1000-ecca-21d1bc3da868","name":"","source":{"id":"d01335bd-584f-30a0-ac75-6535b5f966d7","type":"PROCESSOR","groupId":"73697892-d870-3b7d-8e01-73e0883f31cd","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"37446084-0194-1000-e5fa-39a715c5fbb2"},"destination":{"id":"3724e1ee-7cad-3031-8d07-f7b24e41c18b","type":"PROCESSOR","groupId":"73697892-d870-3b7d-8e01-73e0883f31cd","name":"InvokeHTTP","comments":"","instanceIdentifier":"36028ba1-0194-1000-2413-eac9d58e0c43"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"73697892-d870-3b7d-8e01-73e0883f31cd"},{"identifier":"8206a0ab-3f4b-3350-af5b-a2063f996a09","instanceIdentifier":"361c33e1-0194-1000-303e-84f6497b8243","name":"","source":{"id":"14339c80-6bbd-3664-b792-ebcd0605feca","type":"PROCESSOR","groupId":"73697892-d870-3b7d-8e01-73e0883f31cd","name":"Increase offset","comments":"","instanceIdentifier":"106e754c-37ae-32bd-e771-87724042377a"},"destination":{"id":"3724e1ee-7cad-3031-8d07-f7b24e41c18b","type":"PROCESSOR","groupId":"73697892-d870-3b7d-8e01-73e0883f31cd","name":"InvokeHTTP","comments":"","instanceIdentifier":"36028ba1-0194-1000-2413-eac9d58e0c43"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"73697892-d870-3b7d-8e01-73e0883f31cd"},{"identifier":"ad42cd1c-db29-3913-86a2-48d8bbcb19dd","instanceIdentifier":"3744bf14-0194-1000-a1b9-430e850a7171","name":"","source":{"id":"68bdda78-146d-3370-a1a3-fd68e49ed321","type":"PROCESSOR","groupId":"73697892-d870-3b7d-8e01-73e0883f31cd","name":"SplitJson","comments":"","instanceIdentifier":"373db359-0194-1000-2914-478759170522"},"destination":{"id":"d01335bd-584f-30a0-ac75-6535b5f966d7","type":"PROCESSOR","groupId":"73697892-d870-3b7d-8e01-73e0883f31cd","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"37446084-0194-1000-e5fa-39a715c5fbb2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"73697892-d870-3b7d-8e01-73e0883f31cd"},{"identifier":"59752066-36ad-3d04-a69c-445795808c95","instanceIdentifier":"3602aec3-0194-1000-5b3e-90560d553a5d","name":"","source":{"id":"cfadc80e-40b7-3fd1-a0d7-40df97973b26","type":"INPUT_PORT","groupId":"73697892-d870-3b7d-8e01-73e0883f31cd","name":"input","instanceIdentifier":"4e44239f-2c52-3cfd-90a5-37ff7c3fb1e4"},"destination":{"id":"68bdda78-146d-3370-a1a3-fd68e49ed321","type":"PROCESSOR","groupId":"73697892-d870-3b7d-8e01-73e0883f31cd","name":"SplitJson","comments":"","instanceIdentifier":"373db359-0194-1000-2914-478759170522"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"73697892-d870-3b7d-8e01-73e0883f31cd"},{"identifier":"cefa0d29-724e-341b-bb25-366ef8ec1dae","instanceIdentifier":"d07b3896-437c-3749-e33f-27fe25cb043b","name":"","source":{"id":"b2c32eab-0988-36c5-92cf-795f7ecf9496","type":"PROCESSOR","groupId":"73697892-d870-3b7d-8e01-73e0883f31cd","name":"If number of records not 0","comments":"","instanceIdentifier":"3554514d-bd0a-3d05-c5d1-070df111afd0"},"destination":{"id":"14339c80-6bbd-3664-b792-ebcd0605feca","type":"PROCESSOR","groupId":"73697892-d870-3b7d-8e01-73e0883f31cd","name":"Increase offset","comments":"","instanceIdentifier":"106e754c-37ae-32bd-e771-87724042377a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["ContinueLoop"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"73697892-d870-3b7d-8e01-73e0883f31cd"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"HEALTHCARE_PROVIDER_COSTS","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"b7954326-3c53-3794-bc08-fdcfce342a6a"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[{"identifier":"87cd0193-fff5-3931-b283-474458e1f410","instanceIdentifier":"8b6dc406-cdec-3137-6f33-521e5f72c05f","name":"input","position":{"x":-752.0,"y":-992.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"b7954326-3c53-3794-bc08-fdcfce342a6a"}],"outputPorts":[{"identifier":"b9e9b507-9763-3f1c-bb30-01885ed5eb37","instanceIdentifier":"368c1403-0194-1000-f7bc-b1a1727e7f5e","name":"output","position":{"x":-744.0,"y":-272.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"b7954326-3c53-3794-bc08-fdcfce342a6a"}],"connections":[{"identifier":"d2208213-8332-3dd3-b83b-88b4a6e08f78","instanceIdentifier":"368c27d6-0194-1000-8f75-ebda688a5664","name":"","source":{"id":"ea5f5cee-0b50-3c4f-94e4-37fffc2b29ee","type":"OUTPUT_PORT","groupId":"98fdec19-18b2-3b33-9fbc-c0b7dcc290bc","name":"output","instanceIdentifier":"512af770-e191-3aa1-5232-987e76395d5e"},"destination":{"id":"b9e9b507-9763-3f1c-bb30-01885ed5eb37","type":"OUTPUT_PORT","groupId":"b7954326-3c53-3794-bc08-fdcfce342a6a","name":"output","instanceIdentifier":"368c1403-0194-1000-f7bc-b1a1727e7f5e"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7954326-3c53-3794-bc08-fdcfce342a6a"},{"identifier":"8ddb3130-159e-344c-aab2-7f855f058134","instanceIdentifier":"c4c82e3c-7f48-3987-6aee-b03bcfd68b05","name":"","source":{"id":"87cd0193-fff5-3931-b283-474458e1f410","type":"INPUT_PORT","groupId":"b7954326-3c53-3794-bc08-fdcfce342a6a","name":"input","instanceIdentifier":"8b6dc406-cdec-3137-6f33-521e5f72c05f"},"destination":{"id":"cfadc80e-40b7-3fd1-a0d7-40df97973b26","type":"INPUT_PORT","groupId":"73697892-d870-3b7d-8e01-73e0883f31cd","name":"input","instanceIdentifier":"4e44239f-2c52-3cfd-90a5-37ff7c3fb1e4"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7954326-3c53-3794-bc08-fdcfce342a6a"},{"identifier":"3696ad6a-9447-3d2d-b378-af9a5927887e","instanceIdentifier":"3676bade-0194-1000-8925-8c26621e05f0","name":"","source":{"id":"9de29cc8-8abd-3b93-bcd2-8f2ee9c879a0","type":"OUTPUT_PORT","groupId":"73697892-d870-3b7d-8e01-73e0883f31cd","name":"output","instanceIdentifier":"06d09648-f076-3f51-c548-146bcb67bc8f"},"destination":{"id":"288e2ec5-ac5b-352b-82ed-109e93e24baa","type":"INPUT_PORT","groupId":"98fdec19-18b2-3b33-9fbc-c0b7dcc290bc","name":"input","instanceIdentifier":"dff91b48-3f00-3a95-8315-fab1ae5a3cb5"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7954326-3c53-3794-bc08-fdcfce342a6a"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"HEALTHCARE_PROVIDER_COSTS","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"}],"remoteProcessGroups":[],"processors":[{"identifier":"a845abca-1d61-38e7-b970-a3724c553e55","instanceIdentifier":"3733a60d-0194-1000-a339-4b1dd8ff3c9d","name":"Convert from CSV to JSON","comments":"","position":{"x":-488.0,"y":-2024.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"58f85c13-11a0-322b-bc06-5f6f66c85576","Record Reader":"3f6deaaf-4a35-31a3-b8d2-fad6cd158de8"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"1b99890b-86e8-3b29-8f3c-c1dd6982cfaf","instanceIdentifier":"9a339981-e4c3-3a8f-2d25-44a03b22bf1a","name":"Initialize Flow","comments":"This NiFi processor initiates the entire process to retrieve information from various APIs. It sets up the parameters that will be used in other process groups. \n\n*** currentIndex:  This index helps in retrieving data from APIs that contain too many records to fetch in a single request. Initially, the index is set to 0, and subsequent processors increment this index to retrieve the next batch of records.\n*** increaseIndex:  The increment to find the next 1000 records from the API will be 1000.\n*** limit:  This number specifies the amount of records that the API's GET request will retrieve. \n","position":{"x":-488.0,"y":-2416.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"character-set":"UTF-8","mime-type":null,"currentIndex":"0","fileZipCode":"ZIP_Locale_Detail.xls","File Size":"0B","generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","increaseIndex":"2000","limit":"limit=2000","fileSpecialties":"specialties.csv","Data Format":"Text","pathDatasets":"/opt/nifi/nifi-current/datasets"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"currentIndex":{"name":"currentIndex","displayName":"currentIndex","identifiesControllerService":false,"sensitive":false,"dynamic":true},"fileZipCode":{"name":"fileZipCode","displayName":"fileZipCode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"increaseIndex":{"name":"increaseIndex","displayName":"increaseIndex","identifiesControllerService":false,"sensitive":false,"dynamic":true},"limit":{"name":"limit","displayName":"limit","identifiesControllerService":false,"sensitive":false,"dynamic":true},"fileSpecialties":{"name":"fileSpecialties","displayName":"fileSpecialties","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"pathDatasets":{"name":"pathDatasets","displayName":"pathDatasets","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"90 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"cd63352a-e939-38f0-81bf-1aabac29155e","instanceIdentifier":"3728d319-0194-1000-5029-83751ba32e49","name":"Load Specialties file","comments":"","position":{"x":-488.0,"y":-2224.0},"type":"org.apache.nifi.processors.standard.FetchFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Move Conflict Strategy":"Rename","Log level when file not found":"ERROR","Move Destination Directory":null,"Log level when permission denied":"ERROR","File to Fetch":"${pathDatasets}/${fileSpecialties}","Completion Strategy":"None"},"propertyDescriptors":{"Move Conflict Strategy":{"name":"Move Conflict Strategy","displayName":"Move Conflict Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log level when file not found":{"name":"Log level when file not found","displayName":"Log level when file not found","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log level when permission denied":{"name":"Log level when permission denied","displayName":"Log level when permission denied","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File to Fetch":{"name":"File to Fetch","displayName":"File to Fetch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"79fef0f9-8b2c-3dd2-861b-8cf386c09dc2","instanceIdentifier":"14503825-eebe-10b1-985e-0e85f5bdac5c","name":"LOAD IN FACT_VISITES","comments":"","position":{"x":-488.0,"y":-1272.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"put-db-record-allow-multiple-statements":"false","table-schema-cache-size":"100","put-db-record-schema-name":null,"put-db-record-field-containing-sql":null,"put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"d9f70637-7326-3ba9-ad36-80fa5493a461","put-db-record-query-timeout":"0 seconds","rollback-on-failure":"false","put-db-record-statement-type":"INSERT","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-table-name":"fact_visit_cost","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","put-db-record-record-reader":"a34affed-2548-3851-8cd2-69388e98d7dc","Data Record Path":null,"database-session-autocommit":"false"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#f2f064"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"f614a9b9-d9ed-3914-a797-80844ff2278c","instanceIdentifier":"14503822-eebe-10b1-e7e0-ee0a626378d8","name":"ConvertRecord","comments":"Convert to record before to load in datawarehouse","position":{"x":-488.0,"y":-1496.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"58f85c13-11a0-322b-bc06-5f6f66c85576","Record Reader":"a34affed-2548-3851-8cd2-69388e98d7dc"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"2e1e1f72-7579-3c30-9bcb-1463df5ab1eb","instanceIdentifier":"3728ee24-0194-1000-44fe-998ad8a69c27","name":"","source":{"id":"1b99890b-86e8-3b29-8f3c-c1dd6982cfaf","type":"PROCESSOR","groupId":"2de84678-4fc4-3901-a423-ed00ee69e61c","name":"Initialize Flow","comments":"This NiFi processor initiates the entire process to retrieve information from various APIs. It sets up the parameters that will be used in other process groups. \n\n*** currentIndex:  This index helps in retrieving data from APIs that contain too many records to fetch in a single request. Initially, the index is set to 0, and subsequent processors increment this index to retrieve the next batch of records.\n*** increaseIndex:  The increment to find the next 1000 records from the API will be 1000.\n*** limit:  This number specifies the amount of records that the API's GET request will retrieve. \n","instanceIdentifier":"9a339981-e4c3-3a8f-2d25-44a03b22bf1a"},"destination":{"id":"cd63352a-e939-38f0-81bf-1aabac29155e","type":"PROCESSOR","groupId":"2de84678-4fc4-3901-a423-ed00ee69e61c","name":"Load Specialties file","comments":"","instanceIdentifier":"3728d319-0194-1000-5029-83751ba32e49"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"ab0b97a8-8989-3768-a521-acb86fe4af8b","instanceIdentifier":"372a50ed-0194-1000-7a4b-f08ca4f049e6","name":"","source":{"id":"cd63352a-e939-38f0-81bf-1aabac29155e","type":"PROCESSOR","groupId":"2de84678-4fc4-3901-a423-ed00ee69e61c","name":"Load Specialties file","comments":"","instanceIdentifier":"3728d319-0194-1000-5029-83751ba32e49"},"destination":{"id":"a845abca-1d61-38e7-b970-a3724c553e55","type":"PROCESSOR","groupId":"2de84678-4fc4-3901-a423-ed00ee69e61c","name":"Convert from CSV to JSON","comments":"","instanceIdentifier":"3733a60d-0194-1000-a339-4b1dd8ff3c9d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success","failure","permission.denied","not.found"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"621e725d-f0f2-33d2-83e2-6da8e2a549fe","instanceIdentifier":"3780e056-0194-1000-f0ef-036d62e0e76e","name":"","source":{"id":"b9e9b507-9763-3f1c-bb30-01885ed5eb37","type":"OUTPUT_PORT","groupId":"b7954326-3c53-3794-bc08-fdcfce342a6a","name":"output","instanceIdentifier":"368c1403-0194-1000-f7bc-b1a1727e7f5e"},"destination":{"id":"f614a9b9-d9ed-3914-a797-80844ff2278c","type":"PROCESSOR","groupId":"2de84678-4fc4-3901-a423-ed00ee69e61c","name":"ConvertRecord","comments":"Convert to record before to load in datawarehouse","instanceIdentifier":"14503822-eebe-10b1-e7e0-ee0a626378d8"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"6500c2fe-c040-322c-86b1-89d785409d90","instanceIdentifier":"373b68ef-0194-1000-abe7-9f656768aa7a","name":"","source":{"id":"a845abca-1d61-38e7-b970-a3724c553e55","type":"PROCESSOR","groupId":"2de84678-4fc4-3901-a423-ed00ee69e61c","name":"Convert from CSV to JSON","comments":"","instanceIdentifier":"3733a60d-0194-1000-a339-4b1dd8ff3c9d"},"destination":{"id":"87cd0193-fff5-3931-b283-474458e1f410","type":"INPUT_PORT","groupId":"b7954326-3c53-3794-bc08-fdcfce342a6a","name":"input","instanceIdentifier":"8b6dc406-cdec-3137-6f33-521e5f72c05f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"ef913083-fd0a-3617-8246-309583d14e55","instanceIdentifier":"3911fb09-0194-1000-4344-e28a0d6d0bb1","name":"","source":{"id":"f614a9b9-d9ed-3914-a797-80844ff2278c","type":"PROCESSOR","groupId":"2de84678-4fc4-3901-a423-ed00ee69e61c","name":"ConvertRecord","comments":"Convert to record before to load in datawarehouse","instanceIdentifier":"14503822-eebe-10b1-e7e0-ee0a626378d8"},"destination":{"id":"79fef0f9-8b2c-3dd2-861b-8cf386c09dc2","type":"PROCESSOR","groupId":"2de84678-4fc4-3901-a423-ed00ee69e61c","name":"LOAD IN FACT_VISITES","comments":"","instanceIdentifier":"14503825-eebe-10b1-985e-0e85f5bdac5c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"3f6deaaf-4a35-31a3-b8d2-fad6cd158de8","instanceIdentifier":"9b638e6f-6607-3225-bc66-847bc759270c","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"887fc47b-8825-3fe0-9beb-bd8280b543bd","instanceIdentifier":"34d40d98-b8d5-3729-1a74-7aa5e9a125e2","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"CSV Format":"custom","Include Header Line":"true","schema-cache":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","csv-writer":"commons-csv","Quote Character":"\"","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","schema-name":"${schema.name}","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-writer":{"name":"csv-writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"a34affed-2548-3851-8cd2-69388e98d7dc","instanceIdentifier":"a130b856-d3bf-3812-ce40-68ca85896909","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"58f85c13-11a0-322b-bc06-5f6f66c85576","instanceIdentifier":"e07f17b0-de39-315b-a948-e309506be258","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"},{"identifier":"d9f70637-7326-3ba9-ad36-80fa5493a461","instanceIdentifier":"61f6d628-7571-3f8a-5ddb-f959c6e2b7f0","name":"DBCPConnectionPool_POSTGRES","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.0.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://#{LOCALHOST}:#{PostgresPort}/healthcare","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/drivers/postgresql-42.7.4.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE","URL"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"2de84678-4fc4-3901-a423-ed00ee69e61c"}],"parameterContextName":"HEALTHCARE_PROVIDER_COSTS","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","logFileSuffix":"","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"HEALTHCARE_PROVIDER_COSTS":{"name":"HEALTHCARE_PROVIDER_COSTS","parameters":[{"name":"LOCALHOST","description":"","sensitive":false,"provided":false,"value":"192.168.0.57"},{"name":"PostgresPort","description":"","sensitive":false,"provided":false,"value":"51432"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}